<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.drg.mapper.WalletMapper">
	<resultMap id="ResultMap" type="org.drg.entity.Wallet">
		<id column="id" property="id"/>
		<result column="balance" property="balance"/>
		<result column="currency" property="currency" typeHandler="org.drg.handler.CurrencyTypeHandler"/>
		<result column="phone" property="phone"/>
		<result column="first_name" property="firstName"/>
		<result column="middle_name" property="middleName"/>
		<result column="last_name" property="lastName"/>
		<result column="email" property="email"/>
		<result column="flag" property="flag" typeHandler="org.drg.handler.WalletFlagTypeHandler"/>
	</resultMap>
	<select id="readById" parameterType="int" resultMap="ResultMap" resultType="org.drg.entity.Wallet">
		SELECT id, balance, currency, phone, first_name, middle_name, last_name, email, flag
		FROM wallets
		WHERE id =#{id}
	</select>
	<insert id="create" parameterType="org.drg.entity.Wallet" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO wallets (currency, phone, first_name <if test="middleName != null">,
		middle_name</if>, last_name, email)
		VALUES (#{currency},#{phone},#{firstName},<if test="middleName != null">#{middleName},</if>#{lastName},#{email})
	</insert>
	<update id="update" parameterType="org.drg.entity.Wallet">
		UPDATE
		wallets
		<set>
			<if test="balance!=null">balance=#{balance},</if>
			<if test="flag!=null">flag=#{flag}</if>
		</set>
		WHERE id=#{id}
	</update>
	<select id="readByPhoneOrEmail" parameterType="org.drg.entity.Wallet" resultMap="ResultMap" resultType="org.drg.entity.Wallet">
		SELECT id, balance, currency, phone, first_name, middle_name, last_name, email, flag
		FROM wallets
		WHERE (phone = #{phone} OR email =#{email})
		AND currency=#{currency}
	</select>
</mapper>