<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.drg.mapper.WalletEventMapper">
	<resultMap id="ResultMap" type="org.drg.entity.WalletEvent">
		<id column="id" property="id"/>
		<result column="wallet_id" property="walletId"/>
		<result column="date" jdbcType="TIMESTAMP" property="date" typeHandler="org.drg.handler.LocalDateTimeTypeHandler"/>
		<result column="event" property="walletEventType" typeHandler="org.drg.handler.WalletEventTypeHandler"/>
	</resultMap>
	<insert id="create" parameterType="org.drg.entity.WalletEvent" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO events (wallet_id, event)
		VALUES (#{walletId},#{walletEventType})
	</insert>
	<select id="readLastEventByDate" resultMap="ResultMap" resultType="org.drg.entity.WalletEvent">
		SELECT id, wallet_id, date, event
		FROM events
		WHERE wallet_id = #{walletId}
		AND date <![CDATA[ >= ]]>  #{startDate}
		AND date <![CDATA[ < ]]>   #{endDate}
		ORDER BY date DESC
		LIMIT 1;
	</select>
</mapper>